/*@import 'imports/_variables' , 'imports/_mixins' , 'imports/_reset' ,'imports/_keyframes';*/
body{
    padding: 0%;
    margin: 0%;
    background-image: radial-gradient(ellipse, #000000, #9400D3, #000000);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(5, 1fr); /* 3 filas de tamaño*/
    grid-gap: 10px; /* espacio entre las celdas */
}
/*inicio navbar*/
header{
    grid-row: 1;
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items:normal;
    height: 75px;
    padding: 25px 10%;
  }
  header .logo{
    cursor: pointer;
  }
  header .logo img{
    height: 70px;
    width: auto; 
    transition: all 0.3s;
  }
  header .logo img:hover{
    transform: scale(1.2);
  }
  .navbar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Press Start 2P', cursive;
    font-size: 20px;
  }
  header .nav-links{
    list-style: none;
  }
  header .nav-links li{
    display: inline;
    padding: 0 20px;
  }
  header .nav-links li:hover{
    transform: scale(1.1);
  }
  header .nav-links a{
    font-size: 10px;
    color: aliceblue;
    text-decoration: none;
  }
  header .nav-links li a:hover{
    color: rgba(0, 255, 255, 0.911);
  }
  button{
    background-color: #000000;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;  
    font-weight: bold;
    position: relative;
    border-radius: 16px;
  }
  button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #12C2E9,#9400D3,#D300C4,#12C2E9,#9400D3,#D300C4);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
  }
  @keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
  }
  /*Barra de búsqueda*/
  .container {
      position: absolute;
      left: 10%;
      top: 100px;
      transform: translate(-50%,50%);
      padding: 10px;
  }
  input {
      outline: none;
      box-sizing: border-box;
      height: 60px;
      width: 0px;
      padding: 0 20px;
      color: #000;
      border-radius: 50px;
      font-size: 20px;
      border: 1px solid #9400D3;
      transition: all .7s ease;
  }
  ::placeholder {
      color: grey;
  }
  .btn {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 80px;
      height: 80px;
      background: linear-gradient(#9400D3, #12C2E9);
      line-height: 80px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s;
  }
  .btn i{
      font-size: 25px;
      color: white;
      line-height: 80px;
      transition: all .7s ease;
  }
  .container:hover input {
      width: 350px;
  }
  .container:hover i{
      transform: rotate(-360deg);
  }
  .btn:hover{
      background:linear-gradient(#9400D3,#12C2E9);
  }
  /*fin navbar*/
/*carrousel*/

.carrusel {
  position: absolute;
  grid-column: 1 / 5;
  grid-row: span 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width:  35%;
  max-width:  35%;
  min-height: 50%;
  max-height: 50%;
  outline: 2px solid black;
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.carrusel-item:hover {
  transform: scale(1.2);
}

/*empieza acordeon/contenido principal*/
.acordeon{
    width:90%;
    max-width: 120rem;
    padding:2rem;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    transform: translateY(-35%);
}

.acordeon .bloque{
    margin: 0 0 1rem;
    padding: 1rem;
}

.acordeon .h2{
  text-align: center;
  margin: 0 0 1rem;
  padding:1rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
  background-color: #000000;
}

.acordeon .contenido{
    height: 0;
    padding:0rem;
    overflow: hidden;
    transition: all .5s ease;
}
.acordeon .contenido img{
    width:  100%;
    height: 55%;
    display: flex;
 
}
.acordeon .contenido p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.acordeon .contenido a{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: none;
}
.acordeon .bloque.activo .contenido{
    height: 30rem;
}





