
img {
    text-align: center;
    float: left;
    opacity: 5;
    
    
} 

h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
}

body {
    
    background:linear-gradient(#1D1A31,#4c286e);
    color: rgb(144, 98, 204);   
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
      
}
li {
    float: left;
    border-right: 1px solid #148, 67, 199;
}
li a {
    display: block;
    color:#eaf6ff;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: #3b1e72;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #37315e;
}

  
li:last-child {
    border-right: none;
}

.active {
    background-color: #7038b9;
  }

.grilla {
    
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}


.contJuego img {
    padding: 5%;
    padding-bottom: 0%;
    object-fit: cover;
    width: 90%;
    height: 14rem;
    /* background-color: rgb(61, 35, 77); */
}
.contJuego  h3{
    /* background-color: rgb(120, 89, 179); */
    padding: 0px 5px 10px 20px;
    text-align: left;
    }

.contJuego p{
    
    padding: 0px 20px 20px 20px;
    font-size: 11pt;
    
}
.contJuego { 
    background-color: #37315e;
    color:azure;
    margin: 5px;
}

.contJuego:hover{
    background-color: #473f78;
}

